<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <% if (typeof results !='undefined'  ) {%>

  <p id="percent">
    <h1>Percent of english words:
      <%= results.percentEnglish %>%</h1>
  </p>

  <p id="words">
    <h3>Word type for all these words: </h3>
    <ul>
      <li>Nouns:
        <%= results.wordType.nouns.count%> Words:
        <%= results.wordType.nouns.list%>
      </li>
      <li>Verbs:
        <%= results.wordType.verbs.count%> Words:
        <%= results.wordType.verbs.list%>
      </li>
      <li>Adjectives:
        <%= results.wordType.adjectives.count%> Words:
        <%= results.wordType.adjectives.list%>
      </li>
      <li>Adverbs:
        <%= results.wordType.adverbs.count%> Words:
        <%= results.wordType.adverbs.list%>
      </li>
    </ul>
  </p>

  <p id="results">
    <h1>Top words - hover over them</h1>
    <%- results.wordCountHtml %>
  </p>

  <p id="results">
    <h1>Sentiment of all words</h1>
    <%- results.allSentiment.score %>
  </p>

  <p id="twitter">
    <h1>Tweets with individual sentiments</h1>
    <% results.tweets.forEach(function(tweet){ %>
    <p>
      <%- tweet.full_text %>
    </p>
    <p>
      <%- tweet.name %>
    </p>
    <p>
      <%- tweet.sentiment.score %>
    </p>

    <% }); %>
  </p>
  <%}%>

  <div class="ui dimmer">
    <div class="ui text loader"> Retrieving Twitter Results</div>
  </div>


  <% if (typeof err !='undefined'  ) {%>
  <form method='POST' action='/' class="ui form error">
    <% } else { %>
    <form method='POST' action='/' class="ui form">
      <%}%>
      <div class="fields">
        <div class="eight wide field">
          <label>Filter</label>
          <input id="searchEntry" type="text" name="filter" placeholder="Cloud Computing">
        </div>
        <div class="two wide field">
          <label>Tweets to pull</label>
          <select name="count" class="ui fluid dropdown">
            <option value="50">50</option>
            <% for(var i=0; i < 101; i++) { %>
            <option value="<%- i%>">
              <%-i %>
            </option>
            <%}%>
          </select>
        </div>
      </div>

      <div class="ui error message">
        <div class="header">Error</div>
        <% if (typeof err !='undefined'  ) {%>
        <p id="error">
          <%= err %>
        </p>
        <%}%>
      </div>
      <div class="ui buttons">
        <button class="ui submit button">Seach</button>
        <div class="or"></div>
        <button class="ui submit positive button" formaction="/retrieve">Retrieve previous search</button>
      </div>

    </form>
    <script src="/javascripts/main.js"></script>
</body>

</html>